.parentdiv {
    box-sizing: border-box;
    background-color: rgba(255, 228, 196, 0.55);
    height: 50vh;
    width: 100vw;
    position: relative;
}
.div1 {
    background-color: rgba(255, 228, 196, 0.55);
    /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
    /* filter: opacity(80%); */
    height: 90%;
    width: 45%;
    top: 5%;
    left: 2.5%;
    position: absolute;
    overflow: hidden;
}

.pic {
    width: 100%;
}

.div2 {
    /* background-color: slateblue; */
    display: inline-block;
    height: 90%;
    width: 45%;
    top: 5%;
    right: 2.5%;
    position: absolute;
    overflow: hidden;

}