.parentdiv {
    box-sizing: border-box;
    background-color: springgreen;
    height: 50vh;
    width: 100vw;
    position: relative;
}
.div1 {
    background-color: salmon;
    display: flex;
    height: 90%;
    width: 45%;
    top: 5%;
    left: 2.5%;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.div2 {
    background-color: slateblue;
    display: inline-block;
    height: 90%;
    width: 45%;
    top: 5%;
    right: 2.5%;
    position: absolute;

}