.bio {
    font-family: inherit;
}

.breedte {
    background-color: rgba(192, 111, 12, 0.79);
    margin: 0 auto;
    background-color: mediumspringgreen;
    display: flex;
}

.achter {
    background-image: url('../../assets/biopic2.jpg');
    background-color: rgba(255, 228, 196, 0.55);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: opacity(80%);
    height: 200px;
}

.biography {
    margin: 0 auto;
    background-color: rgba(255, 228, 196, 0.55);
    font-size: 1.3rem;
    /* font-family: 'Alegreya', serif; */
    /* font-style: italic; */
    text-align: center;
    display: inline-block;
    /* padding: 0 10%; */
    width: 100%;
}

.biography h3 {
    font-style: normal;
    font-family: 'Tangerine', cursive;
    margin-top: 60px;
}
