.bio {
    padding-bottom: 1%;
    top: 0;
    right: 0;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(111, 104, 95, 0.55);
    display: block;
}

.achter {
    background-image: url('../../assets/biopic1.jpeg');
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
    filter: opacity(30%);
    height: 10rem;
    width: 100%;
    position: relative;
    vertical-align: top;
}

.biography {
    position: relative;
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
}

.biography h3 {
    font-family: 'Tangerine', cursive;
}
