.div {
    background-color: rgba(255, 228, 196, 0.55);
    border-radius: 8px;
    padding: 10%;
}

form input,
form textarea,
.form {
    font: inherit;
    text-align: center;
    display: block
}

.form__label {
    display: block;
}

.form__input {
  width: 100%;
  max-width: 500px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form__send {
    width: 100%;
    max-width: 500px;
    background-color: rgb(255, 230, 199);
    color: #8a2b06;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form__send:hover,
.form__send:active {
    width: 100%;
    max-width: 500px;
    transition-duration: 0.4s;
    border: rgb(203, 147, 78) 2px solid;
    color: rgb(213, 31, 31);
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}