* {
    margin: 0;
    padding: 0;
}
.superdiv {
    width: 50vw;
    height: 100vh;
    color: mediumspringgreen;
    background-color: mediumpurple;
}

.App {
  text-align: center;
  font-style: italic;
  font-size: 5rem;
  background-color: bisque;
  top: 0;
  left: 0;
}


.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
