.apps {
    display: block;
    position: relative;
    padding-top: 1rem;
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    background-color: #ce92488c;
}

.title {
    top: 0;
    position: relative;
}